.hed3__hed {
    font-family: Cormorant Garamond;
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    text-align: left;
    width: 82px;
    height: 42px;
    gap: 0px;
    opacity: 0px;

}

.calculator__span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    width: 48px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
}

.calculator__input {
    width: 636px;
    height: 16px;
    gap: 0px;
    opacity: 0px;


}

.calculator__div {
    width: 636px;
    height: 21px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;

}

.calculator__ora {
    width: 636px;
    height: 21px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;

}



.section__hed {
    // margin-top: 90px;
    font-family: Cormorant Garamond;
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
    text-align: center;
    // width: 720px;
    // height: 140px;
    color: #141414;
    gap: 0px;
    opacity: 0px;


}